
.Wrap {
  width: 100%;
  margin-top: 100px;
}

.selectBox {
  position: absolute;
  height: 40px;
  right: 200px;
  margin-top: 50px;
  /* background-color: ; */
}

.contentWrap {
  float: left;
}

.resumeWrap {
  display: flex;
  width:fit-content;
  height: max-content;
  margin: 0 auto;
  white-space: normal;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  justify-content: center;
}

.resumeWrap2 {
  display: flex;
  width:100%;
  height: max-content;
  margin: 0 auto;
  white-space: normal;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.resume {
  float: left;
  width: 250px;
  height: 250px;
  background-color: rgb(233, 233, 233);
  border-radius: 15px;
  margin-left: 30px;
  margin-top: 20px;
  text-align: center;
  /* opacity: 0.8; */
  box-shadow:  3px 3px 10px rgb(138, 138, 138);

}

.resume.selected {
  /* border: 5px solid #7AFF9E; */
  background-color: #7AFF9E;
  opacity: 0.7;
}

.imageWrap img{
  width: 230px;
  height: 130px;
  background-color: rgb(253, 253, 253);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 15px;
}

/* .userImage {
  display: block;
  width: 100%;
  height: auto;
} */

.TitleWrap {
  padding-top: 20px;
}

.Title {
  display: flex;
  width:90px;
  height: 30px;
  margin-left: 200px;
  background-color: rgb(245, 243, 243);
  border-radius: 10px;
  text-align: center;
  box-shadow:  3px 3px 10px rgb(138, 138, 138);
  justify-content: center;
  align-items: center;
}

.textWrap {
  margin-top: 10px;
}

.analysisBtn {
  position: absolute;
  background-color: hsla(231, 100%, 53%, 1);
  width: 40px;
  height: 40px;
  border-radius: 30px;
  margin-left: 70px;
  margin-top: 10px;
}

.language {
  margin-top: 5px;
}


.submit {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: hsla(231, 100%, 53%, 1);
  color: white;
  box-shadow:  2px 2px 7px rgb(138, 138, 138);
  margin-top: 15px;
  right: 120px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.topContentWrap {
  /* display: flex; */
  text-align: center;
  justify-content: center;
}

.borderLine {
  display: flex;
  width: 90%;
  height: 3px;
  background-color: rgb(206, 206, 206);
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 80px;
  box-shadow:  3px 3px 10px rgb(138, 138, 138);
}

.bottomContentWrap {
  margin-top: 50px;
}
